.bs-docs-section {
	margin-bottom: 60px;
}

.bs-example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 0 15px;
	background-color: #fafafa;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
}
.bs-example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}